
name: Build, Push & Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t sabari7868/vite-react-app:latest .

      - name: Push Docker image
        run: docker push sabari7868/vite-react-app:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull sabari7868/vite-react-app:latest
            docker stop vite-app || true
            docker rm vite-app || true
            docker run -d \
              --restart unless-stopped \
              -p 80:3000 \
              --name vite-app \
              sabari7868/vite-react-app:latest
